{% extends "spwift/base.html" %}

{% block title %}SpWIFT - Specify Web-based Import Facilitation Tool{% endblock %}

{% block pagename %}Specify Web-based Import Facilitation Tool{% endblock %}

{% block contenttitle %}Mass Annotated Digitization Desk (MADD){% endblock %}

{% block content %} 
                <form action="{% url 'spwift:digit' %}" method="post">{% csrf_token %}
                    <input type="hidden" id="post_origin" name="post_origin" value="digit"/>
                    <div class="row mt-3">
                        <div class="coll">            
                            <label for="preptype">Preptype:</label>&nbsp; 
                                <select id="preptype" name="preptype">
                                    <option value="-1">(unspecified)</option>
                                {% if preptypes %}
                                    {% for pt in preptypes %}
                                    <option value="{{pt.spid}}" {%if pt.spid|stringformat:"i" == preptypeid %} selected {%endif%}>{{pt.name}}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            <label for="highertaxon">Higher Taxon</label>
                                <select id="highertaxon" name="highertaxon">
                                <option>(unspecified)</option>
                                {% if highertaxa %}
                                    {% for ht in highertaxa %}
                                    <option value="{{ht.pk}}" {%if ht.pk|stringformat:"i" == highertaxon %} selected {%endif%}>{{ht.name}}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="barcode">Barcode</label>
                            <input type="text" id="barcode" name="barcode" size="14">
                            <label for="catnr">Alt Cat Nr</label>
                            <input type="text" id="catnr" name="catnr" size="14">
                            <input type="checkbox" id="barcode_catnr" name="barcode_catnr">
                            <label for="barcode_catnr">Barcode=CatNr</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="region">Broad Geographical Region</label><br>
                            <input type="text" id="region" name="region" size="49" value="{%if region%}{{region}}{%endif%}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="taxon">Determination</label><br>
                            <input type="text" id="taxon" name="taxon" size="49" value="{%if taxon%}{{taxon}}{%endif%}">
                            <input type="checkbox" id="type" name="type">
                            <label for="type">Type</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="storage">Storage</label><br>
                            <input type="text" id="storage" name="storage" size="49" value="{%if storage%}{{storage}}{%endif%}">&nbsp;
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="coll">
                            <div class="container-fluid">
                                <input type="submit" value="Save & Go Back">
                                <input type="submit" value="Save">
                                <input type="submit" value="Save & Next">
                            </div>
                        </div>
                    </div>
                </form>
{% endblock %}

{% block sessioninfo %}
                <p>
                    <b>Username:</b> {{username}}<br>
                    <b>DateTime:</b> {% now "jS F Y H:i" %}<br>
                    <b>Collection:</b> {{collection.name}}<br>
                    <b>DataSet:</b> {{dataset_name}}
                </p>
                <!-- 
                    <p>Preptype: 
                    <br>
                    <select id="preptype" name="preptype">
                        <option>(current preptype)</option>
                    {% if preptypes %}
                        {% for pt in preptypes %}
                        <option value="{{pt.spid}}" {%if pt.spid|stringformat:"i" == preptypeid.0 %} select {%endif%}>{{pt.name}}</option>
                        {% endfor %}
                    {% endif %}
                    </select>
                </p>
                <p>Higher Taxon: 
                    <br>
                    <select id="taxon" name="taxon">
                    <option>(current taxon)</option>
                    </select>
                </p>
                
                    <h4>Debugging:</h4>                   
                    <p>{{collections.0}}
                    <p>currcoll: {{collectionid}}</p>
                    <p>datasetid: {{datasetid}}</p>
                    -->
{% endblock %}