{% extends "spwift/base.html" %}

{% block title %}SpWIFT - Specify Web-based Import Facilitation Tool{% endblock %}

{% block pagename %}Specify Web-based Import Facilitation Tool{% endblock %}

{% block contenttitle %}Mass Annotated Digitization Desk (MADD){% endblock %}

{% block content %} 
                <form action="{% url 'spwift:digit' %}" method="post">{% csrf_token %}
                    <input type="hidden" id="post_origin" name="post_origin" value="digit"/>
                    <input type="hidden" id="datasetrowid" name="datasetrowid" value="{%if datasetrowid%}{{datasetrowid}}{%else%}-1{%endif%}"/>
                    <div class="row mt-3">
                        <div class="coll">            
                            <label for="preptype">Preptype:</label>&nbsp; 
                                <select id="preptype" name="preptypeid">
                                    <option value="">(unspecified)</option>
                                {% if preptypes %}
                                    {% for pt in preptypes %}
                                    <option value="{{pt.pk}}" {%if pt.pk == preptypeid %} selected {%endif%}>{{pt.name}}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                            <label for="highertaxon">Higher Taxon</label>
                                <select id="highertaxon" name="highertaxonid">
                                <option value="">(unspecified)</option>
                                {% if highertaxa %}
                                    {% for ht in highertaxa %}
                                    <option value="{{ht.pk}}" {%if ht.pk == highertaxonid %} selected {%endif%}>{{ht.name}}</option>
                                    {% endfor %}
                                {% endif %}
                                </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="barcode">Barcode</label>
                            <input type="text" id="barcode" name="barcode" size="14" value="{%if datasetrow%}{{datasetrow.barcode}}{%endif%}">
                            <label for="catnr">Alt Cat Nr</label>
                            <input type="text" id="catnr" name="catnr" size="14" value="{%if datasetrow%}{{datasetrow.catalognr}}{%endif%}">
                            <input type="checkbox" id="barcode_catnr" name="barcode_catnr">
                            <label for="barcode_catnr">Barcode=CatNr</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="region">Broad Geographical Region</label><br>
                            <input type="text" id="region" name="region" size="49" value="{%if datasetrow%}{{datasetrow.broadgeography}}{%endif%}">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="taxon">Determination</label><br>
                            <input type="text" id="taxon" name="taxon" size="49" value="{%if datasetrow%}{{datasetrow.determination}}{%endif%}" placeholder="type here to search taxon..."><!-- onkeyup="filterTaxa()">-->
                            <input type="checkbox" id="type" name="type">
                            <label for="type">Type</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="coll">
                            <label for="storage">Storage</label><br>
                            <input type="text" id="storage" name="storage" size="49" value="{%if datasetrow%}{{datasetrow.storage}}{%endif%}">&nbsp;
                        </div>
                    </div>
                    <div class="row mt-3 mb-3">
                        <div class="coll">
                            <div class="container-fluid">                                
                                <!--<button type="submit" id="savegoback" value="" name="savegoback" accesskey="a">Save & Go Back</button>-->
                                <button type="submit" id="save" value="Save" name="save" accesskey="s">Save</button>
                                <button type="submit" id="savenext" value="savenext" name="save" accesskey="d">Save & New</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div id="taxonlist" style="width: 400px; border: 0px solid grey;background-color: white;position: fixed; top: 512px; left: 100px; border: 0px solid white">
                </div>                
                <div id="regionlist" style="width: 400px; border: 0px solid grey;background-color: white;position: fixed; top: 512px; left: 100px; border: 0px solid white">
                </div>
{% endblock %}

{% block sessioninfo %}
                <p>
                    <b>Username: </b> {{username}}<br>
                    <b>DateTime: </b> {% now "jS F Y H:i" %}<br>
                    <b>Collection: </b> {{collection.name}}<br>
                    <b>DataSet: </b><a href="dataset/{{ datasetid }}/">{{dataset_name}}</a><br>
                    <b>Current row id: </b> {%if datasetrow.pk > 0%}{{datasetrow.pk}}{%else%}(new){%endif%}
                </p>
{% endblock %}

{%block scripts%}
<script>
    let filteredTaxa = [] 
    const taxa = '{{taxa_json}}'
    const rtaxa = JSON.parse(taxa.replace(/&quot;/g, '"'))

    const taxon = document.getElementById('taxon')
    console.log(taxon)

    taxon.addEventListener('keyup', (e)=>{
        console.log('filtering taxon list...')
        taxonlist.innerHTML = ""
        filteredTaxa = rtaxa.filter(info=> info['name'].toLowerCase().includes(e.target.value.toLowerCase()))
        if(filteredTaxa.length > 0){
            filteredTaxa.map(info=>{
                taxonlist.innerHTML += `<span id='${info['id']}' onclick="selectTaxon('${info['name']}')" class="hoverme">${info['name']}</span><br>`
            })
        } else {
            taxonlist.innerHTML = "<span>(nothing found...)</span>"
        }

        var rect = e.target.getBoundingClientRect();
        console.log(rect.top, rect.right, rect.bottom, rect.left);

        taxonlist.style.top = (rect.top + 30) +  "px"
        taxonlist.style.left = (rect.left + 5) +  "px"

    }) 
    
    function selectTaxon(name)
    {
        const taxon = document.getElementById('taxon')
        taxon.value = name
        taxonlist.innerHTML = ""
    }

    let filteredRegions = [] 
    const regions = '{{regions_json}}'
    const rregions = JSON.parse(regions.replace(/&quot;/g, '"'))

    const region = document.getElementById('region')
    console.log(region)

    region.addEventListener('keyup', (e)=>{
        console.log('filtering region list...')
        regionlist.innerHTML = ""
        filteredRegions = rregions.filter(info=> info['name'].toLowerCase().includes(e.target.value.toLowerCase()))
        if(filteredRegions.length > 0){
            filteredRegions.map(info=>{
                regionlist.innerHTML += `<span id='${info['id']}' onclick="selectRegion('${info['name']}')" class="hoverme">${info['name']}</span><br>`
            })
        } else {
            regionlist.innerHTML = "<span>(nothing found...)</span>"
        }

        var rect = e.target.getBoundingClientRect();
        console.log(rect.top, rect.right, rect.bottom, rect.left);

        regionlist.style.top = (rect.top + 30) +  "px"
        regionlist.style.left = (rect.left + 5) +  "px"

    }) 
    
    function selectRegion(name)
    {
        const region = document.getElementById('region')
        region.value = name
        regionlist.innerHTML = ""
    }

</script>

{% endblock %}