{% extends "spwift/base.html" %}

{% block title %}SpWIFT - Specify Web-based Import Facilitation Tool{% endblock %}

{% block pagename %}Specify Web-based Import Facilitation Tool{% endblock %}

{% block contenttitle %}Tools{% endblock %}

{% block content %}
                <div class="row">
                    <div class="coll">
                        <div class="container-sm border bg-white">
                            <br>
                            <h4>Mass Annotated Digitization Desk</h4>
                            <form action="{% url 'spwift:digit' %}" method="post">{% csrf_token %}
                                <input type="hidden" id="post_origin" name="post_origin" value="index"/>
                                <label for="dataset">Choose dataset:</label>
                                <select id="dataset" name="dataset" style="width:340px;">
                                    <option value="0">[New Dataset]</option>
                                    {% if datasets %}
                                        {% for d in datasets %}
                                    <option value="{{ d.pk }}" >{{ d.name }}</option> 
                                        {% endfor %}
                                    {% endif %}
                                </select>&nbsp;
                                <input type="submit" value="Go digitize!"/>
                                <br>
                                <label for="collection">Collection</label>
                                <select id="collection" name="collection">
                                    {% if collections %}
                                        {% for c in collections %}
                                    <option value="{{ c.pk }}">{{ c.name }}</option>
                                        {% endfor %}
                                    {% else %}
                                    {% endif %}
                                </select>
                                <p>&nbsp;</p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="coll">
                        &nbsp;
                    </div>
                </div>
                <div class="row">
                    <div class="coll">
                        &nbsp;
                    </div>
                </div>
            {% endblock %}

            {% block sessioninfo %}
                <p>Welcome, {{username}}!</p>
                <br/>
                {%if error %}
                    <p>{{ error }}</p>
                {%endif%}
                <br/>            
                {% if sessions %}
                    {% for s in sessions %}
                        <p>{{s.name}}</p>
                    {% endfor%}
                {% endif %}
            
                {% if datasets %}
                <p><b>Your datasets:</b></p>
                    <ul>
                    {% for d in datasets %}
                        <li><a href="">{{ d.pk }}:{{ d.name }}</a></li> 
                    {% endfor %}
                    </ul>
                {% endif %}
            
            {% endblock %}

</body>